
.comment-show-box{
    img{
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
        // cursor: pointer;
        transition: all 0.5s ease;
    }
    img:hover{
        transform: scale(1.1);
    }
    width: 100%;
    
}
.mLeft{
    margin-left: 5%;
    border-left: 6px solid gold !important;
    border-radius: 12px;
}
.mRight{
    margin-right: 5% !important;
    border-left: 6px solid skyblue !important;
    border-radius: 12px;
}